<nav class="side-nav" role="navigation">
  <h1 class="logo">Assignment</h1>
  <ul>
    <li class="body-text-lg">
      <a
        aria-label="Navigate to orders"
        class="side-nav-link"
        data-representative-link="true"
        href="#"
        [routerLink]="['/orders-list']"
        [routerLinkActive]="['side-nav-link--active']"
      >
        <img
          class="side-nav-icon"
          height="24px"
          width="24px"
          src="assets/icons/cube.svg"
          alt="Orders"
        />Orders
      </a>
    </li>
    <li class="body-text-lg">
      <a
        aria-label="Navigate to users"
        class="side-nav-link"
        data-representative-link="true"
        [routerLink]="['/users-list']"
        [routerLinkActive]="['side-nav-link--active']"
        ><img
          class="side-nav-icon"
          height="24px"
          width="24px"
          src="assets/icons/contacts.svg"
          alt="Users"
        />Users</a
      >
    </li>
    <li class="body-text-lg">
      <a
        aria-label="Navigate to progress circle"
        class="side-nav-link"
        data-representative-link="true"
        [routerLink]="['/progress-circle']"
        [routerLinkActive]="['side-nav-link--active']"
        ><img
          class="side-nav-icon"
          height="24px"
          width="24px"
          src="assets/icons/arrow-clockwise.svg"
          alt="Users"
        />Progress Circle</a
      >
    </li>
  </ul>
</nav>
<main class="main">
  <router-outlet></router-outlet>
</main>
